.la_note, .french, .delice, .palette {
    height: 88vw;
    width: 100%;
    min-width: unset;
}

footer a{
    font-size: 3.8vw;
}

.menu{
    min-width: unset;
    width: 95%;
}

.menu .titre i, .menu .titre-final i {
    font-size: 3em;
}

.titre--french{
    font-size: 1.8em; 
}

.titre--la_note, .titre--delice, .titre--palette{
    font-size: 2em;
}

.titre-final--la_note {
    padding: 10px 0px 0px 20px;
    font-size: 1.5em;
}

 .mentions {
    width: 90%;
}