
/*///////////////////////////////// Gestion des fonts du site /////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Courgette&family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kalam&family=Kaushan+Script&family=Montserrat&family=Poppins:wght@600&display=swap');

/*///////////////////////////////// Aucune marge sur le site /////////////////////////////////*/
* {
    margin:0;
    padding:0;
}

/*///////////////////////////////// Gestion de l'entête du site /////////////////////////////////*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #579C87;
    width: 100%;
    height: 120px;
    color: #FACB47;
    font-family: 'Poppins', sans-serif, arial;
    font-size: 1.5em;
    margin-bottom: 40px;
}

h1{
    transition: all .5s;
}
h1:hover{
    transform: scale(1.2);
}

/*///////////////////////////////// Gestion du pied de page /////////////////////////////////*/
footer{
    display: flex;
    background-color: #579C87;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    font-family: 'Montserrat', sans-serif, arial;
    position: sticky;
    bottom: 0;
}

.footer-mentions:hover, .footer-contact:hover{
    animation: shake 0.8s infinite;
}

/*///////////////////////////////// Gestion des liens /////////////////////////////////*/
a{
    text-decoration: none;
}

a:visited{
    color: unset;
}

footer a{ 
    color: #FACB47;
    font-size: 1.2em;
    padding: 30px;
}

footer a:visited{
    color: #FACB47;
}

.etage1 a:hover, .etage2 a:hover{
    transform: scale(1.2);
    opacity: .5; 
}

.etage2 a, .etage1 a{
    transition: all .5s;
}

/*///////////////////////////////// Gestion des animations /////////////////////////////////*/

@keyframes shake{
    10%, 90% {
        transform: translateX(-1px);
    }
    20%, 80% {
        transform: translateX(2px);
    }
    30%, 50%, 70%{
        transform: translateX(-4px);
    }
    40%, 60%{
        transform: translateX(4px);
    }
}

@keyframes point{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(-4px);
        opacity: .2;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/*///////////////////////////////// Gestion des menus et sous menus page principale /////////////////////////////////*/

.etage1, .etage2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.la_note, .french, .delice, .palette {
    width: 30%;
    min-width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.23);
}

.la_note{
    background-color: #FADFDB;
}

.la_note i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #E24D55, #EB934D)
}

.la_note h2{
    font-family: 'devonshire', sans-serif, arial;
    font-size: 1.7em;
    color: #FACB47;
}

.la_note h3{
    font-family: 'kalam', sans-serif, arial;
    color: black;
    font-size: 1.7em; 
}

.french{
    background-color: #FDF5FE;
}

.french h2 {
    font-family: 'Croissant One', sans-serif, arial;
    font-size: 1.5em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #CC652F, #9E5BF0)
}

.french h3{
    font-family: 'Cantata One', sans-serif, arial;
    font-size: 1.5em;  
    color:  #CC652F;
}

.delice {
    background-color: #F9F9F9;
}

.delice h2{
    font-family: 'Dancing Script', sans-serif, arial;
    font-size: 1.8em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #414CC7, #1daafc) 
}

.delice h3{
    font-family: 'kalam', sans-serif, arial;
    font-size: 1.7em; 
    color: #4477CF;
}

.palette{
    background-color: #FDFFFD;
}

.palette h2{
    font-family: 'Kaushan Script', sans-serif, arial;
    font-size: 1.8em; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #71BF55, #9DE36C) 
}

.palette h3{
    font-family: 'kalam', sans-serif, arial;
    font-size: 1.7em; 
    color: #5ECA33;
}

/*///////////////////////////////// Gestion du prochainement /////////////////////////////////*/

.soon{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.soon .soon-box{
    width: 270px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif, arial;
    font-size: 1.5em;
    background-color: #579C87;
    color: #FACB47;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.points{
    display: flex;
    padding-top: 12px;
}

.soon .soon-box .points p{
    background-color: #FACB47;
    margin: 0 3px 0 3px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
}

.point1 {
    animation: point 1.5s infinite;
}

.point2 {
    animation: point 1.5s 0.2s infinite;
}

.point3 {
    animation: point 1.5s 0.4s infinite;
}

/*///////////////////////////////// gestion de toutes les pages menu /////////////////////////////////*/

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

.page .menu{
    margin: auto;
}

/*///////////////////////////////// Gestion du menu de chaque page /////////////////////////////////*/

.menu{
    width: 65%;
    height: auto;
    max-width: 760px;
    min-width: 500px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.23);
}

.menu-la_note, .menu-french {
    width: 100%;
    height: 100%;
}

.items-menu, .items-menu-final{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    font-family: 'Courgette', sans-serif, arial;
}

.items-menu-final{
    padding-bottom: 80px;
}

.titre, .titre-intermediaire{
    text-align: center;
}

.titre {
    padding: 50px 0px 20px 0px;
}

.titre-intermediaire {
    padding: 30px;
    font-family: 'Courgette', sans-serif, arial;
    display: flex;
    justify-content: center;

}

.titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, black 0%, black 1px, transparent 1.01px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.titre-intermediaire img{
    height: 8px;
    margin: auto;
    overflow: hidden;
}

/*///////////////////////////////// Gestion du menu la note enchantée /////////////////////////////////*/

.menu-la_note{
    background-color: #FADFDB;
}

.menu i{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #E24D55, #EB934D);
}

.menu .titre i{
    font-size: 7em;
}

.menu-la_note .titre-intermediaire {
    font-size: 1.4em;
}

.menu-la_note .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, black 0%, black 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-la_note .titre-intermediaire p:hover {
    background-size: 100% 100%;
}

.titre--la_note, .titre-final--la_note {
    font-family: 'Devonshire', sans-serif, arial;
}

.titre--la_note{
    padding-top: 15px;
    font-size: 3em;
}

.titre-final{
    display: flex;
    justify-content: center;
    padding: 35px 0px 40px 0px;
}

.titre-final--la_note{
    padding: 10px 0px 0px 20px;
    font-size: 3em;
}

/*///////////////////////////////// Gestion du menu le chic à la française /////////////////////////////////*/

.menu-french{
    background-color: #fff5fe;
}

.titre--french{
    font-family: 'Croissant One', sans-serif, arial;
    font-size: 3em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #CC652F, #9E5BF0)
}

.menu-french .titre-intermediaire {
    font-size: 1.1em;
}

.menu-french .part1 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #C67412 0%, #C67412 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-french .part2 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #A56799 0%, #A56799 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-french .part3 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-french .titre-intermediaire p:hover {
    background-size: 100% 100%;
}

.menu-french .part1{
    color: #C67412;
}

.menu-french .part2{
    color: #A56799;
}

.menu-french .part3{
    color: #6E4CCC;
}

/*///////////////////////////////// Gestion du menu le chic délices des papilles /////////////////////////////////*/

.menu-delice{
    background-color: #edefef;
}

.titre--delice{
    font-family: 'Dancing Script', sans-serif, arial;
    font-size: 5em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #414CC7, #1daafc) 
}

.menu-delice .part1 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #103EDD 0%, #103EDD 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-delice .part2 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #2D70EB 0%, #2D70EB 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-delice .part3 .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #4A9CF2 0%, #4A9CF2 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-delice .titre-intermediaire p:hover {
    background-size: 100% 100%;
}

.menu-delice .titre-intermediaire{
    font-size: 1.25em;
}

/*///////////////////////////////// Gestion du menu la pallettes des saveurs /////////////////////////////////*/

.titre--palette{
    font-family: 'Kaushan Script', sans-serif, arial;
    font-size: 5em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to left, #71BF55, #9DE36C) 
}

.menu-palette .titre-intermediaire{
    font-size: 1.25em;
}

.menu-palette .titre-intermediaire p{
    padding: 0 10px 0 10px;
    min-width: 190px;
    background: linear-gradient(to top, #9DE36C 0%, #9DE36C 1.5px, transparent 1.51px) no-repeat;
    background-size: 0 100%;
    transition: all .5s;
}

.menu-palette .titre-intermediaire p:hover {
    background-size: 100% 100%;
}

/*///////////////////////////////// Gestion de la page mention légales /////////////////////////////////*/

.mentions {
    width: 70%;
    margin: 0px auto 70px auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

h5{
    font-size: 1.6em;
    padding: 20px;
    color:#7E57C2;
    margin: auto;
}

.mentions .justifié{
    text-align: justify;
    padding-bottom: 25px;
}

.mentions ul{
    padding: 0 30px 0 30px;
    text-align: justify;
}

.mentions li {
    padding: 2px;
}

.mentions .centré{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-weight: bold;
}

.mentions .centré ul{
    padding: 10px 65px 10px 65px;
}

.mentions .centré div{
    text-align: center;
    padding: 5px;
}

.mentions .centré div:nth-child(3){
    font-size: 1.3em;
    padding-top: 30px;
}

